<html>
	<head>
		<title>Wordnik demo from JavaScript</title>
		<script src="http://static.smallpicture.com/bootstrap/js/jquery-1.9.1.min.js"></script>
		<script>
			var baseUrl = "http://api.wordnik.com/v4/word.json/";
			var apiKey = "kcje7882nvil0mgncl2kio5pudxvpsz3ym5ispkp42ig69yqw"; 
			function getSynonyms (theWord, callback) {
				alert("getSynonyms")
				var url = baseUrl + theWord + "/relatedWords?useCanonical=true&relationshipTypes=synonym&limitPerRelationshipType=100&api_key=" + apiKey;
				var jxhr = $.ajax ({ 
					url: url,
					dataType: "text" , 
					timeout: 30000 
					}) 
				.success (function (data, status) { 
					var array = JSON.parse (data);
					alert("success");
					callback (array [0].words)
					}) 
				.error (function (status) { 
					console.log ("getSynonyms: url == " + url + ", error == " + JSON.stringify (status, undefined, 4));
					});
				}
			</script>
		<style>
			.divPage {
				width: 50%;
				margin-left: auto;
				margin-right: auto;
				margin-top: 100px;
				border: 1px solid silver;
				background-color: whitesmoke;
				padding-left: 15px;
				}
			</style>
		</head>
	<body>
		<div class="divPage">
			<p>This is a bit of sample code that accesses the <a href="http://developer.wordnik.com/docs.html">WordNik AP</a>I from JavaScript in the browser.</p>
      <p>Here are the synonyms for "happy":</p>
      
			<div id="idSynonymList"></div>
			<p>For more info see this <a href="http://scripting.com/2014/06/28/usingWordnikViaJsInTheBrowser.html">blog post</a> on scripting.com.</p>
			</div>
		<script>
			getSynonyms ("happy", function (words) {
				alert("callback function");
				var s = "";
				for (var i = 0; i < words.length; i++) {
					s += "<li>" + words [i] + "</li>"
					}
				$("#idSynonymList").html ("<ul>" + s + "</ul>");
				});
			</script>
		</body>
	</html>