{% extends 'scansion/base.html' %}
{% block body_block %}

<div class ="container">

    <!--Separate title box for now, might be an idea to introduce this to the base though -->
    <div class="title-box">
    <p2><h2>Analysis</h2><div class="how_to_link"><a href="{% url 'analyse_how_to' %}">Go to the How to Page</a></div>
    </p2>
    </div>
    <br>
    <!-- {{ text }} -->
    <br>

        <!-- Two columns: left for input, right for output. Eventually, the right will show the stresses of each word/line-->
        <div class="analyser-columns">
            <div class ="analyser-column-one" id="column-one">
                <div class="tab">
                    <button class="viewtablinks" id="defaultViewTab" onClick="openViewTab(event, 'Lines')">Lines</button>
                    <button class="viewtablinks" onClick="openViewTab(event, 'Separated')">Separated</button>
                    <button class="viewtablinks" onClick="openViewTab(event, 'Patterns')">Patterns</button>
                </div>


                <div id="Prosodic" class="viewtabcontent">
                    <textarea type="text" readonly class="form-control-plaintext" id="prosodic-scan-output">
                            {% for line in prosodicLines %}
                            {{ line }} 
                            {% endfor %}
                    </textarea>
            

                </div>

                <div id="Lines" class="viewtabcontent" id="lines-scan-output">
                    <br>
                        {% for line in lines %}
                        {% autoescape off %}
                        {{ line.syll_str_line }} <br>
                        {% endautoescape %}
                        {% endfor %}
                    <br>
                </div>

                <div id="Separated" class="viewtabcontent" id="separated-sylls">
                    <br>
                        {% for line in lines %}
                        {% autoescape off %}
                        {{ line.syll_str_sep_line }}<br>
                        {% endautoescape %}
                        {% endfor %}
                    <br>
                </div>

                <div id="Patterns" class="viewtabcontent" id="patterns-output">
                    <br>
                    {% for line in lines %}
                    {% autoescape off %}
                    {{ line.linePattern }}<br>
                    {% endautoescape %}
                    {% endfor %}
                    <br>
                </div>

                <div class ="tab">
                    <button class="tablinks" id="analyser-button" onClick="scanText()">Scan Text</button>
                </div>


            </div>

            <div class = "analyser-column-one" id="column-two" name="column-two">
                <div class="tab">
                    <button class="tablinks" id="defaultToolsTab" onClick="openTab(event, 'Scanner')">Scanner</button>
                    <button class="tablinks" onClick="openTab(event, 'Editor')">Editor</button>
                </div>

                <div id="Scanner" class="tabcontent">
                    <br>
                    <input type="radio" id="default-radio" name="display-type" onClick="displayNormalText()" value="normal"> Normal Text <br>
                    <input type="radio" name="display-type" value="colours" onClick="displayColours()"> Colours <br>
                    <input type="radio" name="display-type" value="bold" onClick="boldSylls()"> Bold <br>
                    <!-- <input type="radio" name="display-type" value="separate" onClick="separateSylls()"> Separate <br> -->
                    <div id="infoBox">
                        {% if foot.message %}
                        <br> 
                        Scansion was unable to detect a regular meter for this text. 
                        The most common recurring meter was {{ foot.meter }}, which was found in {{ foot.count }} out of {{ foot.total }} lines.
                        {% else %}
                       <br>
                        Scansion thinks this text is writtern in {{ foot.meter }}, which was found in {{ foot.count }} of the toal {{ foot.total }} lines. <br>
                        {% endif %}
                        <br><br>
                        <button id="detailsButton" onClick="toggleDetails()">Show/Hide Line details</button>
                        <br><br>
                        <div id="detailsInfo">
                            {% for line in lines %}
                            {% autoescape off %}
                            {{ line.foot }} {{ line.numOfFeet }}<br>
                            {% endautoescape %}
                            {% endfor %}
                        </div>
                    </div>

                </div>

                <div id="Editor" class="tabcontent">
                    <br>
                    <div class="definition">
                        <textarea class="form-control" type="text" name="text-input" id="definition-output" value="" rows="20" placeholder="Enter text here">

                        </textarea>
                    </div>

                    Remove:
                    <br>
                    <br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="nouns-checkbox">
                        <label class="form-check-label" for="nouns-checkbox">Nouns</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="verbs-checkbox">
                        <label class="form-check-label" for="verbs-checkbox">Verbs</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="adjectives-checkbox">
                        <label class="form-check-label" for="adjectives-checkbox">Adjectives</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="adverbs-checkbox">
                        <label class="form-check-label" for="adverbs-checkbox">Adverbs</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" class="form-control" id="highlighted">
                        <small id="higlighterHelp class="form-text text-muted">Enter a word to be highlighted</small>
                    </div>

                    




                </div>
            </div>

        </div>
</div>

<script type="text/javascript">

    document.getElementById("defaultViewTab").click();
    document.getElementById("defaultToolsTab").click();
    document.getElementById("default-radio").click();
    document.getElementById("detailsButton").click();



</script>
{% endblock %}