{% extends 'scansion/base.html' %}
{% block body_block %}

<div class ="container">

    <!--Separate title box for now, might be an idea to introduce this to the base though -->
    <div class="title-box">
    <p2><h2>Analysis</h2><div class="how_to_link"><a href="{% url 'analyse_how_to' %}">Go to the How to Page</a></div>
    </p2>
    </div>
    <br>
    <!-- {{ sonnet }} -->
    <br>

        <!-- Two columns: left for input, right for output. Eventually, the right will show the stresses of each word/line-->
        <div class="analyser-columns">
            <div class ="analyser-column-one" id="column-one">
                <p>Enter a text in the left column to begin:</p>
                <textarea class="form-control" type="text" name="text-input" id="text-input" value="" rows="20" placeholder="Enter text here"></textarea>
                <div class ="tab">
                    <button class="tablinks" id="analyser-button" onClick="textEntered()">Scan Text</button>
                    <!-- <button class="tablinks" id="clear-button" onClick="clearText()">Clear Text</button> -->
                </div>
            </div>

            <div class = "analyser-column-one" id="column-two" name="column-two">
                <div class="tab">
                    <button class="tablinks" id="defaultOpen" onClick="openTab(event, 'Scanner')">Scanner</button>
                    <button class="tablinks" onClick="openTab(event, 'Editor')">Editor</button>
                </div>

                <div id="Scanner" class="tabcontent">
                    <br>
                    <textarea type="text" readonly class="form-control-plaintext" id="scan-output" value="Scan output will go here"></textarea>
                    <p>Most likely meter:</p>
                    <p>Wordcount:</p>
                    <p>Most frequent:</p>
                    <br>
                    Highlight:
                    <br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="nouns-checkbox">
                        <label class="form-check-label" for="nouns-checkbox">Nouns</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="verbs-checkbox">
                        <label class="form-check-label" for="verbs-checkbox">Verbs</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="adjectives-checkbox">
                        <label class="form-check-label" for="adjectives-checkbox">Adjectives</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="adverbs-checkbox">
                        <label class="form-check-label" for="adverbs-checkbox">Adverbs</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" class="form-control" id="highlighted">
                        <small id="higlighterHelp class="form-text text-muted">Enter a word to be highlighted</small>
                    </div>
                </div>

                <div id="Editor" class="tabcontent">
                    <br>
                    Remove:
                    <br>
                    <br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="nouns-checkbox">
                        <label class="form-check-label" for="nouns-checkbox">Nouns</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="verbs-checkbox">
                        <label class="form-check-label" for="verbs-checkbox">Verbs</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="adjectives-checkbox">
                        <label class="form-check-label" for="adjectives-checkbox">Adjectives</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="adverbs-checkbox">
                        <label class="form-check-label" for="adverbs-checkbox">Adverbs</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" class="form-control" id="highlighted">
                        <small id="higlighterHelp class="form-text text-muted">Enter a word to be highlighted</small>
                    </div>

                    




                </div>
            </div>

        </div>
</div>

<script type="text/javascript">
    document.getElementById("defaultOpen").click();

    function textEntered() {
        var enterredText = document.getElementById("text-input").value;
        document.getElementById("scan-output").value = enterredText;
    }

    // function clearText() {
    //     document.getElementById("text-input").innerHTML = "";
    // }

    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;

        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks =document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
{% endblock %}