{% extends 'scansion/base.html' %}
{% block body_block %}
<div class ="container">
    <div class="title-box">
    <p2><h2>Analysis</h2><div class="how_to_link"><a href="{% url 'analyse_how_to' %}">Go to the How to Page</a></div>
    </p2>
    </div>
    <br>

    <br>
        <p>Enter a text in the left column to begin:</p>

        <div class="analyser-columns">
            <div class ="analyser-column-one" id="column-one">
                <input class="form-control" type="text" name="input" id="input" value="" placeholder="Enter text here">
                <button class="enter-button" id="analyser-button" onclick="textEntered()">Enter Text</button>
            </div>

            <div class = "analyser-column-one" id="column-two" name="column-two">
                </div>

        </div>
</div>

<script type="text/javascript">

    function textEntered() {
        var enterredText = document.getElementById("input").value;
        document.getElementById("column-two").innerHTML = enterredText;

    }
</script>
{% endblock %}