{% extends 'scansion/base.html' %}
{% block body_block %}
<p><h2>Welcome to Scansion</h2></p>
<br>
<div class="container">
    <div class="analyser-column-one" id="input-column">
        <p>Enter a text to begin</p>
        <textarea class="form-control" type="text" name="text-input" id="index-text-input" value="" rows="20" placeholder="Enter text here"></textarea>
        <div class="tab">
            <button class="tablinks" id="index-input-button" onclick="inputText()">Scan Text</button>
        </div>
    </div>
 
</div>

<script>
    function inputText(){
        var input_text = document.getElementById("index-text-input").value;
        location.href = "{% url 'analyse' %}";
    }
</script>
{% endblock %}