nav { 
    list-style-type: none;
    margin: 0;
    padding: 50;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

nav-li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
}

a {
    color: #666;
}

a:hover { 
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

.how_to_link {
    float: right;
}

.title-box {
    border-bottom: 1px solid #666;
}

body {
    padding-top: 40px;
}

.content {
    margin-left: 10px;
}

.analyser-columns {
    display: flex;
}

.analyser-column-one {
    flex: 50%;
    /* border-right-color: #666;
    border-right-width: 1px;
    border-right-style: solid; */
    padding: 5px;
}

.analyser-column-one:last-child {
    border-right: none;
    margin-left: 5px;
}

input[type=textarea] {
    width: 100%;
    height: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    display: inline-block;
    /* border: 1px solid #666;
    border-radius: 2px; */
}
.highlight {
    background-color: yellow;
}

#text-input:focus {
    border: 2px solid #666;
    outline-style: none;
    box-shadow: none;
}

input[type=textarea]:focus {
    border: 2px solid #666;  
    outline-style: none;  
}
.form-control {
    display: inline;
}

.form-control-plaintext {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    display: inline-block;
    border: none;
}

.form-control-plaintext:focus {
    border: 1px solid #e7e7e7;
    box-shadow: none;
    outline-style: none;
}

.custom-form-control:focus {
    border: 2px solid #666;
    outline: none;
    box-shadow: none;
}

.tab {
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.tab button {
    display: block;
    background-color: inherit;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s;
}

.tablinks:hover {
    text-decoration: none;
    color: black;
}

.tablinks.active {
    text-decoration: none;
    color: black;
}

.viewtablinks:hover {
    text-decoration: none;
    color: black;
}

.viewtablinks.active {
    text-decoration: none;
    color: black;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    animation: fadeEffect 1s;
}

.viewtabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.form-check-label {
    font-weight: normal;
}

output-font.stress {
    animation: fadeEffect 1s;
    
}

output-font.strees:hover {
    font-weight: inherit;

}

output-font.unstressed:hover {
    font-weight: inherit;

}

output-font.unstressed {
    animation: fadeEffect 1s;
}

output-font:hover {
    animation: fadeEffect 1s;


}

.word {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.word:hover {
    font-weight: bold;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3f3f3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}

.word:hover .dropdown-content {
    display: block;
}

.Noun:hover {
    color: red !important
}
